.content {
    background-color: #edecf1;
    }
    body {
      margin: 0px;
      font-family: Tahoma, sans-serif;
    }
    
    .navigation ul{
      padding: 0px;
      margin: 0px;
      list-style: none;
      height: 50px;
      line-height: 50px;
      background-color: hsl(37, 96%, 31%);;
    }
    .navigation ul li{
      float:left;
      border-right:2px solid #d1f2eb;
    }
    .navigation ul a{
      padding:0px 30px;
      color:#d1f2eb;
      text-decoration:none;
      display:block;
    }
    .navigation a:hover {
      background: hsl(37, 100%, 9%);
     }
    
       .navigation2 ul{
         padding: 0px;
         margin: 0px;
         list-style: none;
         height: 50px;
         line-height: 50px;
         background-color: hsl(37, 96%, 31%);
       }
       .navigation2 ul li{
         float:left;
         border-right:2px solid #d1f2eb;
       }
       .navigation2 ul a{
         padding:0px 30px;
         color:#d1f2eb;
         text-decoration:none;
         display:block;
       }
       .navigation2 a:hover {
          background: hsl(37, 100%, 9%);
        }
      .logoc{
      margin-top:-170px;
      margin-left: 2px;
      }
      #headl
      {
      margin-left:320px;
      font-size: 120px;
      color: white;
      margin-top:px;
      }
    
      .active {
    background-color: hsl(37, 100%, 9%);
    }
    
    
    .aa {
    background: hsl(37, 96%, 31%);
    background-attachment: fixed;
    
    }
    .end {
    background: hsl(37, 96%, 31%);
    background-attachment: fixed;
    
    }
    #outer {
        width: 364px;
        margin: 50px auto 0 auto;
        text-align: center;
      }

.row {
    display: flex
}

.form-group {
    margin-left: 10px;
}

body {
    font-family: Arial, sans-serif;
  }
  
  form {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px;
    width: min(700px, 100% - 50px);
    margin-inline:auto;
    padding-top:25px;
  }
  
  .input {
    display: flex;
    border:1px solid hsl(0 0% 50%);
    border-radius: 5px;
    overflow:hidden;
  }
  
  .input:focus-within {
    outline:2px solid hsl(200 100% 50%);
  }
  
  .input i {
    background: hsl(0 0% 80%);
    padding: 10px;
    display: grid;
    place-items:center;
    border-right:1px solid hsl(0 0% 50%);
  }
  
  .input :is(select, input, textarea) {
    flex:1;
    width: 100%;
    border:none;
    outline:none;
    padding-inline:5px;
  }
  
  .form-group {
    display: flex;
    flex-direction:column;
    gap:5px;
  }
  
  button.save:hover {
    background-color: royalblue;
  }
  
  button.save {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
    background-color: #007bff;
    align-self:end;
    justify-self:end;
  }
  label span {
    color:red;
  }