
#pla{
  text-decoration: none;
  color:hsl(37, 96%, 31%);
  font-size: 24px;
  margin-left: 20px;
}
#pla:hover {
  background-color: hsl(37, 100%, 9%);
  color: black
}


body {
  margin: 0px;
  font-family: Tahoma, sans-serif;
}
h1,h2,h3{
  font-family: monospace, serif;
  color:hsl(37, 96%, 31%);
}
#seas{
  color:hsl(37, 96%, 31%);
}
#zzz{
  color:hsl(37, 96%, 31%);
  width: 80px;
  height: 40px;
}
#zzz:hover {
  background-color: hsl(37, 100%, 9%);
  color:#f2f4f4;
}
table{
  border: 1.4px solid hsl(37, 96%, 31%);
  background-color: #f2f4f4;
  color:hsl(37, 96%, 31%);
  width: 26%;

}

th {
height:35px;
}
#vvv{
  color:hsl(37, 96%, 31%);
}
.content {
background-color: #edecf1;
}


.navigation ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
  height: 50px;
  line-height: 50px;
  background-color: hsl(37, 96%, 31%);
}
.navigation ul li{
  float:left;
  border-right:2px solid #d1f2eb;
}
.navigation ul a{
  padding:0px 30px;
  color:#d1f2eb;
  text-decoration:none;
  display:block;
}
.navigation a:hover {
  background: hsl(37, 100%, 9%);
 }

   .navigation2 ul{
     padding: 0px;
     margin: 0px;
     list-style: none;
     height: 50px;
     line-height: 50px;
     background-color: hsl(37, 96%, 31%);
   }
   .navigation2 ul li{
     float:left;
     border-right:2px solid #d1f2eb;
   }
   .navigation2 ul a{
     padding:0px 30px;
     color:#d1f2eb;
     text-decoration:none;
     display:block;
   }
   .navigation2 a:hover {
     background: hsl(37, 100%, 9%);
    }
  .logoc{
  margin-top:-170px;
  margin-left: 2px;
  }
  #headl
  {
  margin-left:320px;
  font-size: 120px;
  margin-bottom: 30px;
  color: white;
  margin-top:0px;
  }

  .active {
background-color: hsl(37, 100%, 9%);
}


.aa {
background: hsl(37, 96%, 31%);
background-attachment: fixed;

}


.end {
background: hsl(37, 96%, 31%);
background-attachment: fixed;

}
